---
layout: handbook-page-toc
title: Enablement Section Performance Indicators
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= performance_indicators('Enablement Section') %>

